name: Publish
permissions:
  contents: read
  id-token: write

on:
  push:
    branches:
      - main
      - staging
  workflow_dispatch:

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.x"

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: auto
          python-version: "3.x"

      - name: Build distributions
        run: |
          rm -rf dist
          uv build

      - name: Publish to TestPyPI
        if: github.ref == 'refs/heads/staging'
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/

      - name: Publish to PyPI
        if: github.ref == 'refs/heads/main'
        uses: pypa/gh-action-pypi-publish@release/v1

